.container-about {
    margin-top: 20px; 
    display: flex;
    width: 100%; 
}

.container-about-outer {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%; 
}

.container-about-wrapper {
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
} 


.container-about-inner {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 20px; 
}

.container-about-inner img {
    height: 110px; 
}

